*{
    padding: 0;
    marging: 0;
}

body {
    background-color: #fff;
    width: 95%;
    font-family: 'Garamond';
    margin: 0 auto;
}
a {
    text-decoration: none; /* elimina el subrayado de los enlaces  */
    font-size: 30px;
    color: #4f9e6f;
    margin-left: 20px; 
    font-family: Cooper Black;

}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    text-aline: center;
}

h1{
    tex-aline: center;
    background-color: green;
    color: white:;
    padding: 20px;
    width: 95%;
    font-family: 'Goudy Stout';

}

nav ul{
    background-color: #d5d6db;
    width: 100%
    list-style-tipe: none;
    text-aline: center;
    padding: 20px;
    width: 95%;
}

.txt-1 {
    background-color: beige;
}

nav li{
    display: inline-flex;
}

h1 {
    text-align: center;
    color: rgb(152, 186, 101);
}
.texto {
    text-align: center;
}
.concepto {
    display: flex;
    margin: 15px 0;
    gap: 30px;

}

img {
    width: 300px;
    height: auto;
    border-radius: 50%
    
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse
}

td,th {
    padding: 20px
}

th {
    text-aline: left